

body {
    font-family: 'Roboto', sans-serif;
    margin-left: 100px; 
  }
  
  h1 {
    font-weight: 100;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  h1 .divider {
      margin: 0 8px;
  }
  
  h1 .sub-headline {
      color: #888;
      font-weight: 300;
  }

  h2{
    text-decoration: underline;
  }

  .bar {
    fill: #5f89ad;
  }

  .race{
    display:inline-block;
    margin-top: 100px;
  }

  button{
    margin-top:10px;
    margin-bottom:20px;

  }

