/* Tabs */

h1{
    padding: 25px 25px 25px 25px;
    text-align: center;
    font-family: Futura;
    color: white
}

.nav-item{
    margin-top: 20px;
    color: #005f89;
}

.row#header{
    background-color:#007bff;
}






/* Poverty  */
    #poverty-block{
        height:fit-content;
        margin: auto;
        display: flex;
    }
    #povertyBlock2010{
        float: left;
        margin-right: 150px;
    }
    #povertyBlock2019{
        float:right;
        margin-left: 70px;

    }


/* Education */
    #education-block{
        transform: scale(.75);
        margin-left: 0%;
    }
    #educationData2010{
        display: flex;
    } 
    #educationData2019{
        display: flex;
    } 
      
    #lessThanHighSchool2010{
        float: left;
        max-width: auto;
        padding-right: 50px;
        padding-bottom: 150px; 
        display: flex;
    }
    #highSchoolOrEquivalent2010{
        float: center;
        max-width: auto;
        padding-right: 50px;
        padding-bottom: 150px;
        display: flex;
    }
    #collegeOrHigher2010{
        float:right;
        max-width: auto;
        display: flex;
        padding-bottom: 150px;
    }  
    #lessThanHighSchool2019{
        float: left;
        max-width: auto;
        padding-right: 50px;
        display: flex;
    }
    #highSchoolOrEquivalent2019{
        float: center;
        max-width: auto;
        padding-right: 50px;
        display: flex;
    }
    #collegeOrHigher2019{
        float:right;
        max-width: auto;
        display: flex;
        padding-bottom: 150px;
    }  

  /* Age */
    #age-block{
        height:fit-content;
        /* margin: auto; */
        width: 75%;
        padding: 10px;
        display: flex;
        transform: scale(.50);
        position:absolute;
        top:0;
        left:0;
    }
  
    #age2010{
        flex: 1;
    } 
  
    #age2020{
        transform: rotate(180deg);
        flex: 1;
        padding-bottom: -500px;
        max-height: 1120px;
        max-width: 1500px;
        /* position:absolute; */
        /* top:2px */
    }